@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: 116, 238, 21;
  --secondary: 107, 114, 128;
  --tertiary: 139, 139, 139;
  --orange: 188, 94, 41;
  --blue: 72, 161, 178;
  --purple: 85, 58, 194;
  --pink: 185, 66, 101;
  --yellow: 197, 161, 38;
  --darkblue: 49, 80 ,199;
}

::-webkit-scrollbar {
  width: 2px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(var(--primary)); 
  border-radius: 1px;
}